<div class="footer">
  <div class="container">
    <div class="row align-items-end">
      <div class = "main">
        
        <div class="subscribe">
          <form>
      <h1>SUBSCRIBE TO OUR EMAIL</h1>
    
      <input type="text"  placeholder="Email Id"  ng-Model ="footerObj.email">
      <button (click) = "onContact()">Send</button>
      </form>
    </div> 
    
    

    
          
          <div class="main1"> 
      <h2>About Us</h2>
      <h3>Lorem ipsum dolor sit amet, </h3>
      </div>
      </div>


    <div class="col-md">
     <div class="infoheader"></div>



    <div class="navbar">
   <ul>
      <li><a class="a">Home</a></li><br>
    <li><a class="a">Shop</a></li><br>
      <li><a class="a">Blog</a></li><br>
    <li><a routerLink="/contact">Contact Us</a></li>
  </ul>
</div>
</div>

<div class="col-md">
  <div class="infoheader"></div>



 <div class="navbar1">
<ul>
   <li><a class="a">Refund Policy</a></li><br>
 <li><a class="a">Privacy policy</a></li><br>
   <li><a class="a">nnm</a></li><br>
 <li><a routerLink="/contact">ggh</a></li>
</ul>
</div>
</div>





<div class="cp">
  © 2023 Copyright:
  <a class="text-reset fw-bold" href="https://mdbootstrap.com/">The Resin Street</a>
</div>

<div class="cp1">
  The Resin Street : A Unit of Five Fold Ventures
</div>



      </div>

