<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	 <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<div class="cd1">
	
	<div class="cd">
			<div class = "main">
            
			<img src="../assets/The Resin Street Logo.png" id="banner-logo" alt="logo" class="logo"/>
		</div>
		
			<div class="signup" style="padding-top: 17%; padding-left: 20px;">
				<form>
					<h3>Contact</h3>
					<input type="text" name="txt" placeholder="Mobile Number" [(ngModel)] ="checkoutObj.mobphno">
					<h3>Shipping Address</h3>
					<input type="text" name="txt" placeholder="User name" [(ngModel)] ="checkoutObj.userName"><br>
					<input type="password" name="pswd" placeholder="Address Line 1" [(ngModel)] ="checkoutObj.addrl1"><br>
					<input type="password" name="pswd" placeholder="Address Line 2" [(ngModel)] ="checkoutObj.addrl2"><br>

					<input type="password" name="pswd" placeholder="City" [(ngModel)] ="checkoutObj.city"><br>
					<input type="password" name="pswd" placeholder="State" [(ngModel)] ="checkoutObj.state"><br>

					<input type="password" name="pswd" placeholder="Pin Code" [(ngModel)] ="checkoutObj.pin"><br>
					<input type="email" name="email" placeholder="Email" [(ngModel)] ="checkoutObj.email"><br><br>
					<button (click) = "onCheckout()">Continue To shopping</button>
				</form>
			</div>
	
		
</div>

	

	
<div class="vl"></div>
		

		<div class="main1">
			<h1><b></b></h1>
			<h2></h2>
		</div>

	

</div>
	

</html>
